{% extends '_base.html' %}
{% load i18n %}

{% block title %}{{ super }} {% translate "Login" %}{% endblock title %}

{% block content %}
<div class="mx-lg-5">
    <div class="card mt-4 mx-5 p-2">
        <h1 class="text-center card-title">ورود</h1>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                {% endfor %}
                <label for="username" class="form-label">{% translate "Username" %}</label>
                <input type="‌‌text" class="form-control {% if form.username.errors %}is-invalid{% endif %}" id="username" name="username" maxlength="50">
                {% if form.username.errors %}
                    <div id="username" class="invalid-feedback">
                        {{ form.username.errors }}
                    </div>
                {% endif %}
                <label for="password" class="form-label mt-3">{% translate "Password" %}</label>
                <input type="‌‌text" class="form-control {% if form.password.errors %}is-invalid{% endif %}" id="password" name="password" maxlength="50">
                {% if form.password.errors %}
                    <div id="password" class="invalid-feedback">
                        {{ form.password.errors }}
                    </div>
                {% endif %}
                <div class="d-flex flex-column flex-md-row justify-content-between mt-3">
                    <button class="btn btn-success px-3" type="submit">{% translate "Login" %}</button>
                    <div class="d-flex flex-column justify-content-center">
                        <a href="#">{% translate "Signup" %}</a>
                        <a href="#">{% translate "Forget password" %}</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
