@font-face {
  font-family: 'ComicMono';
  src: url("{% static 'fonts/ComicMono.ttf' %}");
}

body {
  width: 100%;
  height: 100%;
}

label, h1, h2, h3, h4, h5, h6, p {
  display: block;
  unicode-bidi: plaintext;
}
