<!DOCTYPE html>
{% load i18n %}
{% load static %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

{% if LANGUAGE_BIDI %}
<html dir="rtl">
{% else %}
<html dir="ltr">
{% endif %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% translate "Qalam" %}{% endblock title %}</title>
        {% if LANGUAGE_BIDI %}
            <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.min.css' %}">
        {% else %}
            <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        {% endif %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body class="bg-light">
        {% include '_navbar.html' %}
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>
